.tweet
  %a.twitter-share-button{"data-count" => "vertical", "data-lang" => "ja", :href => "https://twitter.com/share"} ツイート
  %script{:src => "//platform.twitter.com/widgets.js", :type => "text/javascript"}