%h1 ここにイベント名ああああああああああああああああああああああああああ
%p.acceoted_users 合計 <span class="number">100</span> 人 / <span class="nuber">10</span>グループ</p>

#users
  %ul
    %li.user
      %p.icon
        <img src="http://a2.twimg.com/profile_images/525575524/14424182_2338889845_reasonably_small.jpg" alt="machida"></p>
      %p.name aaaaaaaaaaaaaaaaaa

%h1 ここにイベント名ああああああああああああああああああああああああああ
  #groupings
  .grouping
    %h2 あああ
    %ul.users
      %li.user
        %p.icon
          <img src="http://a2.twimg.com/profile_images/525575524/14424182_2338889845_reasonably_small.jpg" alt="machida"></p>
        %p.name aaaaaaaaaaaaaaaaaa