@import reset.css.sass
@import mixins.css.sass

// colors
$c-bg: #dcdcd9
$c-light: #d3d3c7
$c-accent: #c41616
$c-dark: #909090
$c-text: #666

// font-size
$f-ss: 10px
$f-s: 12px
$f-m: 14px
$f-l: 16px
$f-ll: 18px
$f-lll: 28px
$f-exl: 40px

// block
$pc-width: 680px
$header-height: 95px
$mobile-header-height: 50px
$next-button-width: 200px
$mobile-next-button-width: 120px

// design

html
  background: #444
  font-family: sans-serif
  @media screen and (max-device-width: 480px)
    background: $c-bg

body
  background: url(/assets/body.gif),#4f4f4b
  max-width: $pc-width
  font-size: $f-m
  color: $c-text
  +center-block
  +clearfix
  min-height: 800px
  >div
    +clearfix
  #body
    clear: both
    >div
      +clearfix
    h1.description
      color: #d3d3c7
      font-size: 18px
      text-align: center
      font-weight: normal
      +text-shadow(#000 0 1px 1px)
      @media screen and (max-device-width: 480px)
        font-size: 13px
        font-weight: bold
    #form
      +inner-padding
      margin: 15px 0
      li
        display: block
        +clearfix
        margin: 0 0 25px 0
        p.inner
          background: #d3d3c7
          +border_radius(4px)
          padding: 8px 20px
          margin: 0 0 6px 0
          +box-shadow(inset #848478 0 1px 2px, #89897f 0 1px 0)
          +clearfix
          padding: 8px 20px
          @media screen and (max-device-width: 480px)
            padding: 2px 10px
          &:hover
            background: #d3d3c7
          .label
            float: left
            width: 100px
            display: block
            height: 28px
            @media screen and (max-device-width: 480px)
              width: 50px
            label
              text-indent: -9999px
              display: block
          .input
            float: left
            input
              background: transparent
              line-height: $f-ll * 1.6
              font-size: $f-l
              width: 480px
              color: $c-text
              +border_radius(4px)
              font-weight: bold              
              +text-shadow(#e9e9da 0 1px 0)
              @media screen and (max-device-width: 480px)
                line-height: $f-m * 2
                font-size: $f-m
                width: 200px 
              &:focus
                color: #9b1828
            select
              font-size: $f-l
              line-height: $f-l * 2
              background: transparent
              background-image: none
              +gradient("null",#d3d3c7,#d3d3c7)
              display: block
              margin: 2px 0 0 0
              padding: 0 4px
              color: $c-text
              font-size: $f-l
              &:focus
                background: transparent
              @media screen and (max-device-width: 480px)
                font-size: $f-m
                line-height: $f-m * 2
                width: 200px
                margin: 0
                font-weight: bold
        .note
          font-size: $f-s
          clear: both
          padding: 4px 0 0 0
          color: $c-dark
          @media screen and (max-device-width: 480px)
            font-size: $f-ss
      li.url
        p.inner
          .label
            background: url(/assets/form_li_url.png) no-repeat center left
            @media screen and (max-device-width: 480px)
              -webkit-background-size: 18px 10px
      li.groups
        p.inner
          .label
            background: url(/assets/form_li_groups.png) no-repeat center left
            @media screen and (max-device-width: 480px)
              -webkit-background-size: 40px 10px
          
            
      .commit
        text-align: center
        @media screen and (max-device-width: 480px)
          padding: 15px 0 0 0
        input
          +green_button
          margin: 0 auto
          border: none
          font-size: $f-l
          line-height: $f-l * 2.4
          cursor: pointer
          width: 200px
          color: $c-light
          font-weight: bold
          cursor: pointer
          @media screen and (max-device-width: 480px)
            font-size: $f-l
            line-height: $f-l * 2
            width: 150px

    .acceoted_users
      display: block
      padding: 15px 15px 5px 15px 
      color: #d3d3c7
      font-size: $f-s
      +text-shadow(#3a3a35 0 -1px 0)
      .number
        font-weight: bold
        font-size: $f-ll
        margin: 0 5px
    #groupings
      padding: 25px 25px 0 25px
      >div
        +clearfix     
      .grouping
        margin: 0 0 36px 0
        +clearfix
        h2
          +gradient("null",#363635,#20201e)
          color: $c-light
          float: left
          font-size: $f-l
          line-height: $f-l * 2
          padding: 0 16px 0 12px
          margin: 0 0 6px 0
          +border_radius(4px)
          +box-shadow(inset #222 0 1px 2px, #6c6c68 0 1px 1px)
          +text-shadow(#000 0 -1px 0)
          @media screen and (max-device-width: 480px)
            font-size: $f-m
            line-height: $f-m * 1.8
            padding: 0 14px
          &:before
            content: "▼"
            font-size: 10px
            vertical-align: middle
            margin: 0 6px 0 0
        .users
          padding: 12px 4px 0 12px
          clear: both
          background: #d3d3c7          
          +box-shadow(inset #a4a497 0 1px 2px, #6c6c68 0 1px 1px)
          +border_radius(4px)
          +clearfix
          +user
          @media screen and (max-device-width: 480px)
            padding: 12px 0 0 12px
          
    #users
      +inner-padding
      ul
        background: #d3d3c7
        padding: 8px
        +box-shadow(inset #a4a497 0 1px 2px)
        +clearfix
        +user
    .next
      +center-block
      +next-button
  .event
    margin: 0
    padding: 0 25px
    +gradient(url(/assets/event.png),#810b18,#6a030f)
    +box-shadow(inset #320208 0 1px 2px)
    +clearfix
    color: #d3d3c7
    border-bottom: #6c6c68 solid 1px
    h1
      font-size: 24px
      line-height: 1.4
      +text-shadow(#320208 0 1px 0)
      margin: 0 0 14px 0
      span.atnd_url
        display: inline-block
        vertical-align: middle
        a
          +green_button
          font-size: 12px
          line-height: 22px
          padding: 0 10px
    h2
      font-size: 12px
      line-height: 1.4
      font-weight: normal
      margin: 0 0 8px 0
    li
      line-height: 1.4
      font-size: 12px
      margin: 0 6px 0 0
      display: inline
    .main
      width: 520px
      float: left
      padding: 12px 0
    .sub
      width: 83px
      float: right
      p.owner
        text-align: center
        display: block
        margin: 0
        background: url(/assets/owner.png) center bottom
        padding: 0 2px 30px 2px
        span
          display: block
          font-size: 12px
          &:before
            content: ""
            display: block
            height: 4px
            +gradient("null",#3f0c11,#5d1d24)
            margin: 0 0 6px 0
        a
          display: block
          color: #d3d3c7
          font-size: 10px
          &:link,
          &:visited
            text-decoration: none
            img
              +box-shadow(none)
          &:hover,
          &:active
            text-decoration: underline
            img
              +box-shadow(#e45766 0 0 5px)
          img
            width: 22px
            height: 22px
            display: block
            margin: 8px auto 4px auto
            
header
  +clearfix
  position: relative
  h1
    a
      display: block
      width: 324px
      height: 128px
      background: url(/assets/h1.png) no-repeat
      margin: 0 auto
      text-indent: -9999px
      padding: 0 0 17px 0
      &:link,
      &:visited
        opacity: 1
      &:hover,
      &:active
        opacity: 0.8
      @media screen and (max-device-width: 480px)
        -webkit-background-size: 162px 64px
        width: 162px
        height: 64px
        
  .usage
    position: absolute
    top:  30px
    right: 30px
    @media screen and (max-device-width: 480px)
      padding: 10px 8px
      top:  0
      right: 0
    a
      display: block
      float: right
      font-size: $f-l
      line-height: $mobile-header-height - 20px + 2px
      height: $mobile-header-height - 20px
      width:  $mobile-header-height - 20px
      text-align: center
      +border_radius(($mobile-header-height - 20px) / 2)
      background: $c-dark
      color: $c-light
      text-decoration: none
      font-weight: bold
      +box-shadow(inset #000 0 0 1px)
      @media screen and (max-device-width: 480px)
        line-height: $mobile-header-height - 20px

.tweet
  text-align: center
  +clearfix
  margin: 0 0 20px 0
.retry
  padding: 0 25px 0 0
  a
    +green_button
    font-size: 12px
    line-height: 24px
    padding: 0 10px
    float: right

footer
  padding-top: 45px
  padding-bottom: 45px
  .copyright
    text-align: center
    color: #d3d3c7
    font-size: $f-s
    @media screen and (max-device-width: 480px)
      font-size: $f-ss
    a
      color: #d3d3c7
      &:link,
      &:visited
        text-decoration: none
      &:hover,
      &:active
        text-decoration: underline
      
